<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
          type="email" 
          name="email" 
          class="form-control" 
          required 
          ngModel
          email 
          #email="ngModel">
          <span *ngIf="!email.valid && email.touched">This email is invalid. Please insert email valid</span>
        </div>
        <div class="form-group">
          <label for="level">Select</label>
          <select 
          class="form-control" 
          name="level" 
          id="level"
          ngModel
          required
          #level="ngModel">
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
          <span *ngIf="!level.valid && level.touched"></span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
          type="password" 
          name="password" 
          class="form-control"
          ngModel
          required
          #password="ngModel"
          >
          <span *ngIf="!password.valid && password.touched">Please inser a new password</span>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <div *ngIf="success" style="margin-top: 10px;" class="alert alert-success form-group">
          <strong>Success!</strong> Operation complete
        </div>
        <div *ngIf="warning " style="margin-top: 10px;" class="alert alert-warning form-group">
          <strong>Warning!</strong> Form is not valid
        </div>
      </form>
      <hr>
      <h3>Your Data</h3>
      <p>Email: {{ user.email}}</p>
      <p>Level: {{ user.level }}</p>
      <p>Password: {{user.password}}</p>
    </div>
  </div>
</div>